<!-- <div class="row mt-4">
  @for (item of itemsRequests(); track item) {
    <div class="col-md-4 col-12">
      <app-small-information-card [data]="item"></app-small-information-card>
    </div>
  }
</div> -->

<app-header-page-component [hasFilter]="true">

  <div id="searchInput">
    <app-search-input (onSearchInputChanged)="handleSearchTerm($event)">
    </app-search-input>
  </div>

  <div id="buttons">
    @if(role == 'Client') {
      <button matRipple class="button primary" (click)="openSolicitationDialog()">
        <i class="fa-solid fa-plus"></i> Chamado
      </button>
    }
  </div>

  <div id="filters">
    <form [formGroup]="formFilters">
      <div class="row">
        <div class="col-md-4 mb-md-0 mb-2">
          <mat-form-field>
            <mat-select formControlName="user_id" placeholder="Parceiro">
              <mat-option>
                <ngx-mat-select-search [formControl]="partnerFilterCtrl" placeholderLabel="Procure pelo usuário"
                  i18n-placeholderLabel noEntriesFoundLabel="Usuário não encontrado" i18n-noEntriesFoundLabel>
                </ngx-mat-select-search>
              </mat-option>
              @if(formFilters?.get('user_id').value) {
                <mat-option [value]="''" (click)="formFilters?.get('user_id').setValue(''); updateFilters()">
                  Limpar Filtro
                </mat-option>
              }
              <mat-option *ngFor="let user of filteredPartners | async" [value]="user.id">
                {{ user.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>

    <div class="d-flex justify-content-end flex-wrap gap-2 mt-2">
      <button matRipple class="button bgRed" (click)="clearFormFilters()">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button matRipple class="button primary" (click)="updateFilters()">
        <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
      </button>
    </div>
  </div>

</app-header-page-component>

<div id="componentTable" class="col-12 mt-4">
  <app-kanban
    [status]="status"
    [data]="kanbanData"
    (itemMoved)="taskMoved($event)"
    (onOpenChat)="openSolicitationChat($event)"
    (onOpenSolicitationDetails)="openSolicitationDialog($event)"
  ></app-kanban>
  <mat-paginator
    [length]="pageControl.itemCount"
    [pageSize]="pageControl.take"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 25, 50, 100]"
    [hidePageSize]="false"
    [pageIndex]="pageControl.page - 1"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
