<div class="row mt-4">
  @for (item of itemsRequests(); track item) {
    <div class="col-md-4 col-12">
      <app-small-information-card [data]="item"></app-small-information-card>
    </div>
  }
</div>

<div id="componentHeaderTemplate">
  <div id="componentHeader">

    <div>
      <!-- <app-search-input
        (onSearchInputChanged)="handleSearchTerm($event)">
      </app-search-input> -->
    </div>

    <div id="options">
      @if(false) {
      <div id="filter" matRipple>
        <i class="fa-solid fa-filter"></i>
      </div>
      }
      <div id="buttons">
        @if(role == 'Client') {
          <!-- Botão de Novo Chamado -->
        }
        <button matRipple class="button primary" (click)="openRequestDialog()" >  <!-- (click)="openRequestDialog()" -->
          <i class="fa-solid fa-plus"></i> Chamado
        </button>
      </div>

    </div>
  </div>
</div>

<div id="componentTable" class="col-12 mt-4">
  <app-kanban
    [status]="status"
    [data]="kanbanData"
    (itemMoved)="taskMoved($event)"
    (itemClicked)="openBottomSheet($event)"
    (itemDeleted)="deleteTask($event)"
  ></app-kanban>
</div>
