<div cdkDropListGroup class="kanban-main">
  @for (key of Object.keys(data); track key) {
  <div class="kanban-container">
    <h2>{{ getEmojiForStatus(key) }} {{ key }} {{ data[key]?.length }}</h2>
    <div cdkDropList [cdkDropListData]="data[key]" class="kanban-list" (cdkDropListDropped)="drop($event)">
      @for (item of data[key]; track item) {
      <div class="kanban-box" [ngStyle]="{ 'border-color': borderColors[item?.status] }" cdkDrag>
        <h4>
          <strong>
            {{ item?.contract_number }}
          </strong>
        </h4>
        <h4>{{ item?.subject }}</h4>
        <div class="d-flex align-items-center justify-content-end w-100 gap-2 pt-2">
          <div class="buttonKanban" matRipple (click)="onOpenSolicitationDetails.emit(item); $event.stopPropagation()">
            <i style="cursor: pointer" class="fa-solid fa-circle-info"></i>
          </div>
          <div class="buttonKanban" matRipple (click)="onOpenChat.emit(item); $event.stopPropagation()">
            <i style="cursor: pointer" class="fa-solid fa-comment"></i>
          </div>
        </div>
      </div>
      }
      <!-- Placeholder: deve estar dentro do cdkDropList -->
      <div class="kanban-box cdk-drag-placeholder" *cdkDragPlaceholder></div>
    </div>
  </div>
  }
</div>
