@import 'variables';

#appHeaderTemplate {
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
  overflow-x: auto;
  min-height: 1.6rem;

  &::-webkit-scrollbar {
    display: none;
  }

  #componentHeader {
    display: flex;
    // justify-content: space-between;
    min-width: fit-content;
    gap: 1rem;
    // height: 2.6rem;
    margin-bottom: 0.5rem;

    #options {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-left: 0.5rem;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;

      #filter {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.5px solid $grey1;
        border-radius: 5px;
        cursor: pointer;
        height: 100%;

        i {
          color: $grey1;
          font-size: 1.3rem;
          padding: 0.5rem;
        }

        &:hover {
          i {
            animation: pop 1.3s infinite;
          }
        }
      }

      #buttons {
        height: 100%;

        .button {
          height: 100%;
        }
      }

    }

  }

  #filtersTemplate {
    background: #fff;
    // padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.45) inset;
  }

}
