
<app-header-page-component [hasFilter]="false">
  @if(loading) {
  <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
    <mat-spinner></mat-spinner>
  </div>
  }

  <div id="searchInput">
    <app-search-input (onSearchInputChanged)="handleSearchTerm($event)">
    </app-search-input>
  </div>

  <div id="buttons">
    <button matRipple class="button primary" (click)="openSettingDialog()">
      <i class="fa-solid fa-edit"></i> Configuração
    </button>
  </div>
</app-header-page-component>

<div id="componentTable" class="col-12 mt-4">
  <app-table-settings
  (onSettingClick)="openSettingDialog($event)"
  (onDeleteSettingClick)="deleteSetting($event)"
  [searchTerm]="searchTerm"
  [loading]="loading"
  >
  </app-table-settings>
</div>
