<div class="table-container">
  <div class="overflow-auto">
    <table class="table table-responsive">
      <thead>
        @for (col of columns; track col) {
        <th [class.hasorder]="col.order"
          [class.active-order]="pageControl.orderField === col.slug">
          <!--(click)="onClickOrderBy(col.slug, col.order)"  [ngStyle]="{ cursor: 'pointer' }"-->
          <div class="{{col.align}}" style="color: #a2a1a8">
            {{ col.title }}
            <i class="material-icons" *ngIf="pageControl.orderField === col.slug">
              {{
              pageControl.order === "DESC" ? "arrow_downward" : "arrow_upward"
              }}
            </i>
          </div>
        </th>
        }
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td [attr.colspan]="columns.length + 1">
            <div id="mat-loading">
              <mat-spinner></mat-spinner>
            </div>
          </td>
        </tr>
        @if (!loading) {
        <tr *ngIf="!clients.length">
          <td [attr.colspan]="columns.length + 1" class="text-center">
            <div>Nenhum resultado encontrado</div>
          </td>
        </tr>
        @for (client of clients; track client) {
        <tr class="table-line-hover" style="outline: none; cursor: pointer">
          <td>
            <div class="textNoWrap">
              {{ client?.name }}
            </div>
          </td>

          <td>
            <div class="text-center textNoWrap">
              {{ client?.phone | phoneMask }}
            </div>
          </td>
          <td>
            <div class="text-center textNoWrap">
              {{ client?.email }}
            </div>
          </td>
          <td>
            <div class="text-center textNoWrap">
              {{ client?.cpf | cpfCnpjMask }}
            </div>
          </td>
          <td>
            <div class="status" [ngClass]="client?.status?.toLowerCase()">
              {{ client?.status | status }}
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center">

              @if(client?.status == clientStatus.Approved) {
                <div matTooltip="Aceitar" matRipple class="buttonTemplate" (click)="onClientApproveClick.emit(client)">
                  <i class="fa-solid fa-check"></i>
                </div>
              }

              @if(client?.status == clientStatus.WaitingPayment) {
                <div matTooltip="Contrato" matRipple class="buttonTemplate" (click)="onClientContractsClick.emit(client)">
                  <i class="fa-solid fa-file-contract"></i>
                </div>
              }

              <div matTooltip="Editar" matRipple class="buttonTemplate" (click)="onClientClick.emit(client)">
                <i class="fa-solid fa-pen-to-square"></i>
              </div>

              @if(myUser?.role == UserRoleEnum?.Admin || client?.status == clientStatus.Pending) {
                <div matTooltip="Deletar" matRipple class="buttonTemplate cancel" (click)="onDeleteClientClick.emit(client)">
                  <i class="fa-solid fa-trash"></i>
                </div>
              }

            </div>
          </td>
        </tr>
        }
        }
      </tbody>
    </table>
  </div>
  <mat-paginator [length]="pageControl.itemCount" [pageSize]="pageControl.take" [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 25, 50, 100]" [hidePageSize]="false" [pageIndex]="pageControl.page - 1"
    (page)="pageEvent($event)" aria-label="Select page">
  </mat-paginator>
</div>
