@import "_variables";

.status {
  text-align: center;
  font-weight: 600!important;
  border-radius: 5px;
  color: $white-300;
  padding: 0.2rem 0.5rem;

  &.pending {
    background-color: $yellow;
  }

  &.approved{
    background-color: $blue;
  }

  &.active{
    background-color: $green;
  }

  &.waitingpayment {
    background-color: $green1;
  }

  &.waitingcontract {
    background-color: $green2;
  }

  &.waitinganalysis{
    background-color: purple;
  }

  &.waitingpolicy{
    background-color: rgb(0, 128, 107);
  }

  &.disapproved {
    background-color: $red;
  }

  &.inactive {
    background-color: $purple;
  }
}
