<mat-dialog-content>

  @if(loading) {
  <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
    <mat-spinner></mat-spinner>
  </div>
  }

  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">Seja bem vindo {{user?.name}} !</span>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <div class="mb-2">
    <span>Como este é seu primeiro acesso é necessário aceitar os termos.</span>
  </div>

  <form [formGroup]="form">
    <div class="d-flex flex-md-row flex-column gap-md-4 gap-1">
      <a target="_blank" href="https://www.safecapitalgarantias.com.br/_files/ugd/7cc209_5040678c9cd344799f37d37fa9a2e454.pdf" class="link">
        Termos de Uso
      </a>
      <a target="_blank" href="https://www.safecapitalgarantias.com.br/pol%C3%ADtica-de-privacidade" class="link">
        Política de Privacidade
      </a>
    </div>
    <div class="mt-2">
      <mat-checkbox color="primary" formControlName="accept_terms">Eu li e aceito os Termos de Uso e a Política de
        Privacidade.</mat-checkbox>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="container">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="submit" class="button primary" (click)="onSubmit()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
