<mat-dialog-content>

  @if(loading) {
  <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
    <mat-spinner></mat-spinner>
  </div>
  }

  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">{{_data ? "Dados do Chamado" : "Novo Chamado"}}</span>
    <div matRipple class="close" (click)="onCancel()">
      <i class="fa-solid fa-close"></i>
    </div>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6 col-12 mb-3">
        <mat-form-field>
          <mat-label>Número do Contrato </mat-label>
          <mat-select formControlName="contract_number" placeholder="Selecione o contrato">
            <mat-option>
              <ngx-mat-select-search [formControl]="contractNumberFilterCtrl"
                placeholderLabel="Procure pelo número do contrato" i18n-placeholderLabel
                noEntriesFoundLabel="Contrato não encontrado" i18n-noEntriesFoundLabel>
              </ngx-mat-select-search>
            </mat-option>
            @if(form?.get('contract_number')?.value) {
            <mat-option [value]="''" (click)="form?.get('contract_number')?.setValue('')">
              Limpar Filtro
            </mat-option>
            }
            <mat-option *ngFor="let contract of filteredContractNumbers | async" [value]="contract">
              {{ contract }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12"></div>
      @if(!_data?.default) {
      <div class="col-12 mb-3">
        <mat-form-field>
          <mat-label>Assunto </mat-label>
          <textarea matInput formControlName="subject" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [placeholder]="'Descrição'">
            </textarea>
        </mat-form-field>
      </div>
      }
      <div class="col-12 mb-3">
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category" placeholder="Selecione uma categoria">
            @for (status of statuses; track status) {
            <mat-option [value]="status">{{ status | status }}</mat-option>
            }
          </mat-select>

        </mat-form-field>
      </div>
      @if(_data?.default) {
      <div formArrayName="items">
        <span class="fw-bolder">Itens</span>
        @for(item of items?.controls; track item) {
        <div class="row" [formGroupName]="$index">
          <div class=" col-md-4 col-12 mb-2">
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="description" placeholder="Descrição">
            </mat-form-field>
          </div>
          <div class=" col-md-4 col-12 mb-2">
            <mat-form-field appearance="outline">
              <input type="text" formControlName="value" matInput placeholder="R$ 0,00" currencyMask />
            </mat-form-field>
          </div>
          <div class=" col-md-4 col-12 mb-2">
            <mat-form-field appearance="outline">
              <mat-label>Data de Vencimento </mat-label>
              <input matInput [matDatepicker]="picker" formControlName="due_date" placeholder="DD/MM/YYYY" appMaskDate>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <!-- <div class="d-flex align-items-center">
                  <button class="mt-1" color="warn" *ngIf="true " mat-icon-button (click)="onDeleteItem($index)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div> -->
        </div>
        @if($index != items?.controls?.length - 1) {
        <mat-divider class="my-3"></mat-divider>
        }
        }
        @if(isNewSolicitation) {
        <div class="d-flex justify-content-end my-2">
          <button mat-flat-button type="button" color="primary" matRipple (click)="pushItem()">
            <i class="fa-solid fa-plus"></i> Item
          </button>
        </div>
        }
      </div>
      }

      <span class="fw-bolder my-2">Anexos</span>
      @if(_data?.hasFiles) {
      <div class="col-12 mb-3">
        <div id="required-files">
          @for(requiredFile of requiredFiles; track requiredFile) {
          <app-file-unique-upload [category]="requiredFilesEnum[requiredFile?.category]" [fileUnique]="requiredFile"
            [containsImage]="false" (onFileChange)="addRequiredFile($index, $event)"
            (onFileDelete)="deleteRequiredFile($index, $event)" [disabled]="isNewSolicitation ? false : true"
            style="max-width: 150px!important; height: 185px!important;" />
          }
        </div>
      </div>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="container">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
        </div>
        @if(isNewSolicitation) {
        <div class="col-auto">
          <button matRipple id="submit" class="button primary" (click)="onSubmit()">Criar</button>
        </div>
        }
      </div>
    </div>
  </div>
</mat-dialog-actions>
