<mat-dialog-content>

  @if(loading) {
  <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
    <mat-spinner></mat-spinner>
  </div>
  }

  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">{{_data ? "Dados do Chamado" : "Novo Chamado"}}</span>
    <div matRipple class="close" (click)="onCancel()">
      <i class="fa-solid fa-close"></i>
    </div>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-6 col-12 mb-3">
        <mat-form-field>
          <mat-label>Número do Contrato </mat-label>
          <mat-select formControlName="contract_number" placeholder="Selecione o contrato">
            <mat-option>
              <ngx-mat-select-search [formControl]="clientFilterCtrl" placeholderLabel="Procure pelo número do contrato"
                i18n-placeholderLabel noEntriesFoundLabel="Contrato não encontrado" i18n-noEntriesFoundLabel>
              </ngx-mat-select-search>
            </mat-option>
            @if(form?.get('contract_number')?.value) {
            <mat-option [value]="''" (click)="form?.get('contract_number')?.setValue('')">
              Limpar Filtro
            </mat-option>
            }
            <mat-option *ngFor="let user of filteredClients | async" [value]="user.id">
              {{ user.id }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12"></div>
      <div class="col-12 mb-3">
        <mat-form-field>
          <mat-label>Assunto </mat-label>
          <textarea matInput formControlName="subject" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [placeholder]="'Descrição'">
          </textarea>
        </mat-form-field>
      </div>
      <div class="col-12 mb-3">
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category" placeholder="Selecione uma categoria">
            @for (status of statuses; track status) {
            <mat-option [value]="status">{{ status | status }}</mat-option>
            }
          </mat-select>

        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="container">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
        </div>
        @if(isNewSolicitation) {
        <div class="col-auto">
          <button matRipple id="submit" class="button primary" (click)="onSubmit()">Criar</button>
        </div>
        }
      </div>
    </div>
  </div>
</mat-dialog-actions>
