<main>
  <!-- <section class="display-video">
    <div class="content-video">
      <video width="1200" height="790" [muted]="'muted'" playsinline autoplay loop >
        <source src={{pathVideo}} type="video/mp4">
        Seu navegador não suporta vídeos HTML5.
      </video>
    </div>
  </section> -->


  <section class="display-animation">
    <ng-lottie width="500px" containerClass="moving-box" [options]="options" />
  </section>
  
  <section class="form-section">
    <div class="form-main">
      <img src="./assets/images/logo.png" alt="logo">
      <div class="form-container">
        <h2>{{ primary_text }}</h2>
        <ng-content></ng-content>
      </div>
    </div>
    <footer>
      <p>Siga-nos nas redes sociais</p>
      <a class="ball-to-icon">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a class="ball-to-icon">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a class="ball-to-icon">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </footer>
  </section>
</main>
