<mat-dialog-content>
  <div class="container p-3 align-middle">
    <div class="row">
      <div class="col-12 text-center text-content textAlert">
        {{text}}
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-100 me-2">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button matRipple id="submit" class="button primary" (click)="onConfirm()">{{
            'Salvar'
            }}</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
