<div class="table-container">

  <div class="overflow-auto">
    <table class="table table-responsive">
      <thead>
        @for (col of columns; track col) {
          <th
            [class.hasorder]="col.order"
            [ngStyle]="{ cursor: 'pointer' }"
            [class.active-order]="pageControl.orderField === col.slug"
          >
            <!--(click)="onClickOrderBy(col.slug, col.order)" -->
            <div
              class="{{col.align}}"
              style="color: #a2a1a8"
            >
              {{ col.title }}
              <i class="material-icons" *ngIf="pageControl.orderField === col.slug">
                {{
                  pageControl.order === "DESC" ? "arrow_downward" : "arrow_upward"
                }}
              </i>
            </div>
          </th>
        }
      </thead>
      <tbody>
      <tr *ngIf="loading">
        <td [attr.colspan]="columns.length + 1">
          <div id="mat-loading">
            <mat-spinner></mat-spinner>
          </div>
        </td>
      </tr>
        @if (!loading) {
          <tr *ngIf="!users?.length">
            <td [attr.colspan]="columns.length + 1" class="text-center">
              <div>Nenhum resultado encontrado</div>
            </td>
          </tr>
          @for (pendingPartner of users; track pendingPartner) {
            <tr
              class="table-line-hover"
              style="outline: none; cursor: pointer"
            >
              <td>
                <div
                  class="d-flex align-items-center gap-2"
                  style="white-space: nowrap"
                >
                  <!-- <app-avatar
                    [imageUrl]="pendingPartner?.photo"
                    [altText]="pendingPartner?.name"
                    [color]="'#e7b403'"
                    [onCircle]="true"
                  ></app-avatar> -->
                  {{ pendingPartner?.name }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ pendingPartner?.email }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ pendingPartner?.company_name }}
                </div>
              </td>
              <td>
                <div class="text-center" style="text-wrap: nowrap;">
                  {{ pendingPartner?.cnpj | cpfCnpjMask }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ pendingPartner?.creci }}
                </div>
              </td>
              <td>
                <div class="text-center" style="text-wrap: nowrap;">
                  {{ +pendingPartner?.phone | phoneMask }}
                </div>
              </td>
              <td>
                <div class="text-center" style="text-wrap: nowrap;">
                  {{ pendingPartner?.created_at | date:"dd/MM/YYYY HH:mm:ss"  }}
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-center">
                  <div matRipple class="buttonTemplate" (click)="onUserClick.emit(pendingPartner)">
                    <i class="fa-solid fa-check"></i>
                  </div>

                  <div matRipple class="buttonTemplate cancel" (click)="onDeleteUserClick.emit(pendingPartner?.id)">
                    <i class="fa-solid fa-trash"></i>
                  </div>
                </div>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
  <mat-paginator
    [length]="pageControl.itemCount"
    [pageSize]="pageControl.take"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 25, 50, 100]"
    [hidePageSize]="false"
    [pageIndex]="pageControl.page - 1"
    (page)="pageEvent($event)"
  >
  </mat-paginator>

</div>
